.git
.gitignore
.wine
*.md
README*
LICENSE*

protossbot/target/
protossbot/Cargo.lock

tmp.json

.vscode
.idea
*.swp
*.swo
*~

.DS_Store
Thumbs.db

docker-compose.yml
novnc.Dockerfile
.dockerignore
Dockerfile

dashboard/
